[user]
	name = Alan Gomes
	email = contato@alangomes.dev
	signingkey = ~/.ssh/bw_macbook.pub
[core]
	editor = cot -w
[gpg]
	format = ssh
[commit]
	gpgsign = true
[include]
  path = ~/.gitconfig.local # Local overrides
